<form action="/" method="post">
<div class="teams columns on-<%= @teams.size %>">
  <% @teams.each do |team| %>
    <div class="column team <%= team[:team].name %>">
      <div class="columns on-2 same-height">
        <div class="column">
          <h2><%= team[:team].name %></h2>
        </div>
        <div class="column button">
          <div class="container full-height">
            <input type="radio" name="bet[team_id]" class="vertical-center" value="<%= team[:team].id %>" <%= 'checked="checked"' if @teams.first == team %>/>
            <p class="bets"><%= team[:bets].size.to_f/@total_bets %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<p class="elements">
  <label for="bet_owner">Tu nombre</label>
  <input type="text" name="bet[owner]" id="bet_owner" />
  <label for="bet_amount">Cantidad</label>
  <input type="text" name="bet[amount]" id="bet_amount" />
  <input type="submit" />
</p>
</form>

<div class="columns on-<%= @teams.size %>">
  <% @teams.each do |team| %>
    <div class="column">
      <ul>
        <% team[:bets].each do |bet| %>
          <li><%= bet.owner %>: $<%= bet.amount %> MXN</li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

